/*主体容器*/
.yt_container {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #fff;
}
/*头部通栏*/
.yt_topBar {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    background-color: #069;
}
.icon_search,.icon_search2{
    position: absolute;
    top: 8px;
    color: #fff;
}
.icon_search2 {
    left:10px;
}
.icon_search{
    right: 10px;
}
/*主体内容*/
.yt_main {
    width: 100%;
    height: 100%;
}
.yt_contentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
#pullrefresh {
    padding-bottom: 55px;
}

/*底部导航栏*/
.yt_tabs {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    height: 55px;
    z-index: 10;
}
.yt_tabs .yt_tabs_nav {
    height: 55px;
    background-color: #069;
}
.yt_tabs .yt_tabs_nav a {
    font-size: 12px;
    color: #fff;
}
.yt_tabs .yt_tabs_nav a .mui-icon {
    font-size: 18px;
}

.yt_tabs .yt_tabs_nav a.mui-active {
    color: darkorange;
    font-weight:200;
}